{{page-title "Logout"}}
    <div class="ui grid">
      <div class="column two wide"></div>
      <div class="column twelve wide">
        <fieldset>
          <legend>&nbsp;Log Out&nbsp;</legend>
          <div class="item" style="text-align: center">
            <div class="ui red label">You're disconnected !</div>
            <br><br>
            <button class="ui green label" {{action 'toIndex'}}>Log in ?</button>
          </div>
        </fieldset>
      </div>
    </div>
{{outlet}}